footer.pt-4.my-md-5.text-center
	.container
		.row
			.col-12.col-md
				img.mb-2(src="./img/logo.png" alt="")
				small.d-block.mb-3.text-muted Copyright 2018 by 
					a(href='/') Toàn Thắng
			.col-6.col-md
				h5 Danh Sách Liên Quan
				ul.list-unstyled.text-small
					li.ab
						a(href="./bangdaihoc.html") ĐẠI HỌC
					li.ab
						a(href="./bangcaodang.html") CAO ĐẲNG
					li.ab
						a(href="./bangphothong.html") THPT
					li.ab
						a(href="./banglaixe.html") BẰNG LÁI XE
					
			.col-6.col-md
				h5 Liên Hệ Với Chúng Tôi
				ul.list-unstyled.text-small
					li
						i.fa.fa-phone-square
							a.ml-2(href="#") 0783221455
					li
						i.fas.fa-comment-dots.mt-2
							a.ml-2(href="#") 0783221455
